body {
    padding-top: 5rem;
}

.grid{
    display: grid;
    grid-template-columns: 300px  300px  300px;
    justify-items: center;
    column-gap: 15px;
    row-gap: 15px;

}

img{
    height: 290px;
    width: 300px; 
    object-fit:cover;
    
}

img:hover{
    object-fit:scale-down;
    animation: object-fit 2.1s finite; 
}