body {
    padding-top: 5rem;
}

.grid{
    display: grid;
    grid-template-columns: 300px  300px  300px;
    justify-items: center;
    column-gap: 15px;
    row-gap: 15px;

}

img{
    display: grid;
    justify-items: center;
    height: 290px;
    width: 300px; 
    object-fit:cover;
}

img:hover{
    object-fit:scale-down;
}

.container :nth-child(1){
    display: grid;
    justify-content: center;
}